<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>689859184241-kd7l1ih4gch6apg3lho8bq6g46kvb87o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.689859184241-kd7l1ih4gch6apg3lho8bq6g46kvb87o</string>
	<key>API_KEY</key>
	<string>AIzaSyCsgGF8f8ZaIUHH4rkL2c2SD6vBFjIg_zs</string>
	<key>GCM_SENDER_ID</key>
	<string>689859184241</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mothers-app</string>
	<key>STORAGE_BUCKET</key>
	<string>mothers-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:689859184241:ios:53fcadd869787f3f1cfdd0</string>
</dict>
</plist>